<h4>Bienvenido</h4>
<p>Para finalizar tu registro por favor ingrese al link que se encuentra abajo con las siguientes credenciales</p>

<ul>
    <li><b>Usuario:</b> {{ name }}</li>
    <li><b>Clave temporal:</b> {{ pass }}</li>
</ul>
<p>
    <span>Clic en el siguiente link o copie y pegue en el navegador</span> <br>
    <a href="{{ url }}">{{ url }}</a>
</p>

<p>Por favor no responda este mensaje.</p>